.green {
    background-color: #44ee85;
    border:2px solid #3c8859;
    color:#fff;
}
.green:hover {
    background-color: #6aca8f;
    border:2px solid #3c8859;
}

.red {
    background-color: #fd5454;
    border:2px solid #922929;
    color:#fff;
}
.red:hover {
    background-color: #eb6f6f;
    border:2px solid #922929;
}