input[type='text'],[type='password'],[type='tel'],textarea {
    border-radius: 0.2rem;
    border:2px solid #ccc;
    padding: 0.5rem;
    cursor: pointer;
    outline: #aaa;
    width: 100%;
    font-weight: 600;
    transition: border 0.3s ease;
}
input[type='text']:hover , [type='password']:hover ,[type='tel']:hover,textarea:hover {
    border:2px solid rgb(97, 97, 97);

}
input[type='text']:focus , [type='password']:focus ,[type='tel']:focus,textarea:focus {
    border:2px solid rgb(97, 97, 97);
}